<div class="about-container">
  <section class="introduction">
    <h2>Sobre Mim</h2>
    <p>Sou André Said, um desenvolvedor apaixonado por tecnologia. Minha jornada começou quando eu era jovem, explorando computadores e programação por curiosidade. Com o tempo, essa curiosidade se transformou em uma carreira focada em desenvolvimento de software.</p>
  </section>

  <section class="career-summary">
    <h3>Resumo da Carreira</h3>
    <p>Tenho mais de 5 anos de experiência(3 anos de carteira assinada) em desenvolvimento de software, trabalhando com tecnologias como Java, TypeScript, JavaScript e Node.js. Minha experiência inclui trabalhar em ambientes de cloud computing e colaborar com equipes ágeis para entregar soluções eficientes e inovadoras.</p>
  </section>

  <section class="professional-experience">
    <h3>Experiência Profissional</h3>
    
    <div class="job">
      <h4>Analista de Sistemas Pleno no Banco do Brasil</h4>

      <p><strong>Período:</strong> julho 2023 - Junho(Atualmente)</p>

      <p><strong>Projeto:</strong> SGD - Sistema de Gestão de Documentos</p>
      <p><strong>Principais Tecnologias:</strong></p>

      <ul>
        <li>Desenvolver microserviço em Java(Quarkus) e DB2</li>
        <li>Experiência em projetos envolvendo desenvolvimento web, integração REST</li>
        <li>Salvar Formularios no S3 Bucket documentos do legado para ARQ3.0(Arquitetura e ferramentas recentes)</li>
        <li>Treinar novos Desenvolvedores para que trabalhem na ARQ3.0 do Banco</li>
        <li>Utilizar Jasper para tranformar Formularios de acordo com solicitações dos usuários</li>
        <li>Realizar consumo de API parceira do Banco do Brasil(BBSia)</li>
        <li>Fazer Teste Unitário para o Back end (JUnit 5, Mockito, WireMock)</li>
        <li>Realizar Documentação de código criado ou legado</li>
        <li>Usar ferramentas de mensageria: IBM MQ</li>
        <li>Publicar Containers no Kubernetes</li>
      </ul>



      <p><strong>Período:</strong> Julho 2022 - julho 2023 · 1 ano</p>

      <p><strong>Projeto:</strong> CCK - Checkout Cartão de credito</p>
      <p><strong>Principais Tecnologias:</strong></p>

      <ul>
        <li>Desenvolver microserviço em Java(Quarkus) e Oracle</li>
        <li>Experiência em projetos envolvendo desenvolvimento web, integração REST</li>
        <li>Salvar dados no S3 Bucket documentos e dados sobre o cartão de credito</li>
        <li>Realizar Modelagens de Banco de dados e planejamento de estrutura</li>
        <li>Realizar consumo de API parceira da Cielo</li>
        <li>Fazer Teste Unitário para o Back end (JUnit 5, Mockito, WireMock)</li>
        <li>Realizar Documentação de código criado ou legado</li>
        <li>Usar ferramentas de mensageria: IBM MQ</li>
        <li>Publicar Containers no Kubernetes</li>
      </ul>
      <p><strong>Ferramentas:</strong> GitLab, Docker,SonarQube, Jenkis, IntelliJ,Vscode, Insomnia, Postman, DBeaver</p>
   

      <p><strong>Projeto:</strong> PIX -Sistema de pagamento instantâneo</p>
      <p><strong>Principais Tecnologias:</strong></p>

      <ul>
        <li>Desenvolver microserviço em Java(Quarkus), NodeJS(JavaScript e TypeScript) e Oracle</li>
        <li>Experiência em projetos envolvendo desenvolvimento web, integração REST</li>
        <li>Fazer Teste Unitário para o Back end (JUnit 5, Mockito, WireMock)</li>
        <li>Realizar Documentação de código criado ou legado</li>
        <li>Usar ferramentas de mensageria: Rabbit MQ</li>
        <li>Publicar Containers no Kubernetes</li>
      </ul>
      <p><strong>Ferramentas:</strong> GitLab, Docker,SonarQube, Jenkis, IntelliJ,Vscode, Insomnia, Postman, DBeaver</p>
    </div>

    <div class="job">
      <h4>Analista de Sistemas Júnior no Banco do Brasil</h4>
      <p><strong>Período:</strong> Junho 2021 - Julho 2022 · 1 ano 1 mês</p>
      <p><strong>Projeto:</strong> DX - Developer Experience</p>
      <p><strong>Principais Tecnologias:</strong></p>
      <ul>
        <li>Desenvolver microserviço em Java usando Quarkus e DB2/Oracle e Front end com ReactJS</li>
        <li>AngularJS, Angular 2+, JavaScript e TypeScript (Node.js)</li>
        <li>Experiência em projetos envolvendo desenvolvimento web, integração REST</li>
        <li>Fazer Teste Unitário para o Front end com Jasmine e Karma e para o Back end com JUnit</li>
        <li>Publicar Containers no Kubernetes</li>
      </ul>
      <p><strong>Ferramentas:</strong> GitLab, Docker, SonarQube,Jenkis, IntelliJ,Vscode, Insomnia, Postman, DBeaver</p>

    </div>

  </section>

  <section class="education-certifications">
    <h3>Educação e Certificações</h3>
    <p><strong>Graduação em Redes de computadores - Universidade Paulista(UNIP) 2019 - 2021</strong></p>
    <p><strong>Certificações:</strong></p>
    <ul>
      <li>Certificação em Itil Foundation V3(Peoplecert)</li>
      <li>Certificação Devops Essentials(CertiProf)</li>

    </ul>
    <p><strong>Cursos Profissionalizantes:</strong></p>

    <ul>
      <li>Curso JAVA MASTER - Versatil Tecnologia (Março 2019)</li>
      <li>Curso Java primeiros passos: Lógica de Programação e Algoritmos - Udemy (Agosto 2019)</li>
      <li>Curso PHP basico e avançado - Versatil Tecnologia (Abril 2019)</li>
      <li>Curso Desenvolvimento Web com Quarkus - Udemy (Maio 2020)</li>
      <li>Curso Full Stack - Udemy (Setembro 2020)</li>
      <li>Curso AngularJS na Pratica - Udemy (Outubro 2020)</li>
      <li>Curso Construindo Aplicações Web Com o Novo Angular (4, 5 e 6) - Udemy (Março 2021)</li>
      <li>Curso de Angular 2 (v17+) Typescript do Básico ao Avançado - Udemy (Outubro 2021)</li>
      <li>Curso Completo do Desenvolvedor NodeJS e MongoDB - Udemy (Novembro 2021)</li>
    </ul>


  </section>

  <section class="career-objectives">
    <h3>Objetivos e Interesses</h3>
    <p>Meu objetivo é continuar a crescer como desenvolvedor, colaborando com equipes dinâmicas e focadas na inovação. Estou sempre em busca de novas tecnologias e melhores práticas para aplicar no meu trabalho. Fora do ambiente profissional, gosto de explorar novas receitas culinárias e jogar videogames.</p>
  </section>
</div>
