<div class="projects-container">
    <h2>Projetos</h2>
    <p>Aqui estão alguns dos projetos nos quais trabalhei recentemente, destacando minhas habilidades em desenvolvimento de software e tecnologias de ponta.</p>
    
    <section class="project">
      <h3>Projeto 1: Sistema de Gestão de Documentos (SGD)</h3>
      <p><strong>Descrição:</strong> Um sistema completo para gerenciamento de documentos, incluindo funcionalidades de upload, categorização, e busca avançada.</p>
      <p><strong>Tecnologias:</strong>Java(Quarkus), Jasper, DB2, AWS S3, Jenkins,Docker,Qsonar </p>
    </section>
  
    <section class="project">
      <h3>Projeto 2: Hermes</h3>
      <p><strong>Descrição:</strong> Um sistema completo para gerir quantidades de commites que um desenvolvedor efetua no mês com intuito de organizar a pontuação minima que o cliente exigia.</p>
      <p><strong>Tecnologias:</strong>Nodejs, Angular 17, DB2, Gilab</p>
    </section>
  
    <section class="project">
      <h3>Projeto 3: Plataforma de vendas parecida com ifood</h3>
      <p><strong>Descrição:</strong> Uma plataforma de ifood completa com três microsservicos integrados de produtos(Cadastro, Marketplace e Pedido), carrinho de compras, e integração com gateways de pagamento.</p>
      <p><strong>Tecnologias:</strong> Java, Docker, Postgres </p>
      <a href="https://github.com/AndreSaid/ifood-quarkus-project" target="_blank">Ver no GitHub</a>
    </section>

    <section class="project">
      <h3>Projeto 4: Spring-ionic-frontend</h3>
      <p><strong>Descrição:</strong> Uma plataforma de vendas de produtos completa com três microsservicos integrados de produtos(Cadastro, Marketplace e Pedido), carrinho de compras, e integração com gateways de pagamento.</p>
      <p><strong>Tecnologias:</strong> Java, Ionic, TypeScript </p>
      <a href="https://github.com/AndreSaid/curso-spring-ionic-frontend" target="_blank">Ver no GitHub</a>
    </section>

    <section class="project">
      <h3>Projeto 5: Hackathon Stefanini</h3>
      <p><strong>Descrição:</strong> Participei de alguns hackathons da Stefanini no qual um deles fui aprovado e mostrando compentencias nas tecnologias aplicadas.</p>
      <p><strong>Tecnologias:</strong> Java, Angular, TypeScript,Javascript, JPA </p>
      <a href="https://github.com/AndreSaid/Projeto-Stefanini-BackEnd" target="_blank">Ver no GitHub</a>
    </section>

    <section class="project">
      <h3>Projeto 6: Sistema de notas Escolares</h3>
      <p><strong>Descrição:</strong>Desenvolvi um sistema em angularJS onde o mesmo aplica notas de medias de alunos e mostram se forem aprovados ou não.</p>
      <p><strong>Tecnologias:</strong> AngulaJS </p>
      <a href="https://github.com/AndreSaid/sistema-escolar-angularJS" target="_blank">Ver no GitHub</a>
    </section>
  </div>
  