<div class="home-container">
  <header>
    <img src="/assets/FotoAndre4.png" alt="Foto de Perfil" class="profile-pic" id="profile-pic">
    <h1>André Said</h1>
    <h2>Analista Desenvolvedor</h2>
    <p>Apaixonado por tecnologia</p>
  </header>
  
  <section class="introduction">
    <h3>Bem-vindo!</h3>
    <p>Olá! Sou André Said, desenvolvedor dedicado a criar soluções inovadoras e eficientes em projetos de sistemas e desenvolvimento web.</p> 
    <p>Com experiência de aproximadamente 3 anos e meio em tecnologias como Java e TypeScript/JavaScript, utilizo Node.js para desenvolvimento no lado do servidor e trabalho em ambientes de cloud computing.
    <p> Meu objetivo é colaborar com equipes dinâmicas e focadas no crescimento, aprimorando continuamente minhas habilidades técnicas e aplicando as melhores práticas de desenvolvimento para alcançar resultados impactantes. </p>
    <p>No front-end, sou especializado em AngularJS e Angular 2+, sempre buscando me manter atualizado com as tendências e inovações do setor.</p>
  </section>

  <section class="skills">
    <h3>Habilidades</h3>
    <ul>
      <li>AngularJS, Angular17, React</li>
      <li>Hibernate, Quarkus, DB2, Oracle, IBM MQ, RabbitMQ, Junit 5, Mockito, Teste de unidade, JPA</li>
      <li>JavaScript, TypeScript, Java, NodeJs</li>
      <li>Docker, OpenShift, Kubernetes, SonarQube, Jenkins, Argo</li>
      <li>HTML, CSS, Sass</li>
      <li>Git, GitHub, Ubuntu</li>
      <li>Comunicação, Proativo, Trabalho em Equipe</li>
    </ul>
  </section>
</div>
